@page "/"
@using Blogs.DTO.ControleAcessos
@using Blogs.Front.Helpers

<PageTitle>Home</PageTitle>

@if (principaisUsuarios is null)
{
    <p>Carregando...</p>
}
else
{
    <div>
        @foreach (var usuario in principaisUsuarios)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@usuario.Nome</h5>
                    <p class="card-text">@usuario.Apresentacao</p>
                    <a href="/@usuario.Slug" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<UsuarioDTO>? principaisUsuarios;

    protected override async Task OnInitializedAsync()
    {
        principaisUsuarios = await ApiBackend.GetAsync<IEnumerable<UsuarioDTO>>("usuarios");
    }
}
