@using System.Text.Json
@using Blogs.DTO.ControleAcessos
@inject IJSRuntime JS
@inject NavigationManager Navigation

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if(usuarioLogado)
            {
                <span class="navbar-text m-2">
                    Usuário: <strong>@nomeUsuario</strong>
                </span>
                <button class="btn btn-primary" @onclick="Logout">
                    Logout
                </button>
            }
            else
            {
                <NavLink class="btn btn-primary" href="/autenticacao/login?redirecionarcasosucesso=/">Login</NavLink>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    protected override async Task OnInitializedAsync()
    {
        var token = await JS.InvokeAsync<string>("localStorage.getItem", "token");
        usuarioLogado = !string.IsNullOrWhiteSpace(token);

        var usuario = JsonSerializer.Deserialize<UsuarioDTO?>(await JS.InvokeAsync<string>("localStorage.getItem", "user"));
        nomeUsuario = usuario?.Nome ?? string.Empty;
    }

    private void Logout(MouseEventArgs args)
    {
        usuarioLogado = false;
        JS.InvokeVoidAsync("localStorage.removeItem", "token");
        Navigation.NavigateTo("/");
        this.StateHasChanged();
    }

    private string nomeUsuario = string.Empty;
    private bool usuarioLogado = false;
}
